body {
    font-family: 'Arial', sans-serif;
}
.navbar {
    margin-bottom: 20px;
}
.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}
.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}
.sidebar a:hover {
    color: #f1f1f1;
}
.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
.dropdown-btn {
    padding: 10px 15px;
    font-size: 20px;
    background: none;
    border: none;
    color: #818181;
    text-align: left;
    width: 100%;
    outline: none;
}
.dropdown-btn:hover {
    color: #f1f1f1;
}
.dropdown-container {
    display: none;
    background-color: #262626;
    padding-left: 8px;
}
.dropdown-container a {
    font-size: 18px;
}
#main {
    transition: margin-left .5s;
    padding: 16px;
}
.table th, .table td {
    text-align: left;
}
